name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  docker-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build CI image
        run: docker build --platform linux/amd64 -t moonsharp-ci .

      - name: Run CI
        run: docker run --rm --platform linux/amd64 moonsharp-ci
